*{
    font-family: Calibri, "sans-serif";
}
body, html{
    margin: 0;
    padding: 0;
    background: url("./assets/images/Bakgrunn.png") repeat;
    overflow-x: hidden;
}

#headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #26373a;
}

#optionBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2f5356;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #1d2b2d;
    border-bottom: 1px solid #1d2b2d;
}

#infoTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #26373a;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

#infoText{
  font-size: 15px;
  color: #ccc;
}

#displayList{
  background: none;
  cursor: pointer;
    border-color: rgba(224,224,224,0.2);
    padding: 10px 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 15px;
}

#displayList:active, #displayGrid:active{
    border:none;
    outline: none;
}

#displayGrid{
  background-color: lightgreen;
    cursor: pointer;
    border-color: rgba(224,224,224,0.2);
    padding: 10px 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 15px;
}

#moviesContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}