.inputTest{
    border-radius: 5px;
    width:100%;
    padding: 10px 0;
    font-size: 20px;
}

#resultText{
  font-size: 20px;
  margin-left: 0;
}

#movieList{
  display: none;
}

#infoContainer{
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-left: 10%;
}

#displayButtons{
  display: none;
  margin-left: auto;
}
