.inputTest{
    border-radius: 5px;
    width:100%;
    padding: 10px 0;
    font-size: 20px;
}

#resultText{
  font-size: 20px;
  margin-left: 0;
}

/* The animation code */
@keyframes example {
    from {flex-direction : row;}
    to {flex-direction: column;}
}

#movieList{
  display: none;
}

#infoContainer{
  margin-top: 2%;
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin-left: 15%;
  color: grey;
}

#displayButtons{
  display: none;
  margin-left: auto;
}

#displayGrid, #displayList{
  background: none;
  cursor: pointer;
}

#displayGrid{
  background-color: lightgreen;
}
